{% extends "home/base.html" %}
{% load static %}
{% load summoner_extras %}

{% block contentEnd %}
    
    <div class="row border border-primary">
        
        <div class="col-sm-3 justify-content-center align-items-center border-danger">
            <!-- Summoner Info -->
            <div class="row">
                <div class="col">
                    {% with 'summoner/dragontail/9.3.1/img/profileicon/'|addstr:summonerData.profileIconId|addstr:'.png' as profileIconUrl %}
                        <img src="{% static profileIconUrl %}" class="img-fluid"><img> 
                    {% endwith %}
                </div>
            </div>
            <!-- League info -->
            <div class="row">
                <div class="col">
                    {% for league in leagues %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center border border-danger">
            <div class="row border border-warning">
                <div class="col">
                    <p>{{ summonerData.name }}</p>
                </div>
            </div>
            <div class="row border border-warning">
                <div class="col">
                    <p>Level: {{ summonerData.summonerLevel }}</p>
                </div>
            </div>
        </div>
        <!-- Match History -->
        <div class="col-sm-6 border border-danger">
            {% for match in matches %}
                <div class="row">
                    <div class="col">
                        <p>{{ match }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
    

{% endblock contentEnd %}